@(lid: Lid, mainCid: String, bootstrapCid: String, bankrekening: String, naamVereniging: String, naamPenningmeester:
String, jaren: String, bedrag: java.math.BigDecimal)

<link rel="stylesheet" href="cid:@mainCid">
<link rel="stylesheet" href="cid:@bootstrapCid">
<p>Geacht lid,</p>

<p>
Uit mijn administratie is gebleken dat u achter loopt in het betalen van de
contributie. De contributie over het jaar of de jaren @jaren is nog niet overgemaakt.
Zie ook onderstaand overzicht.
</p>
<p>
Zou u ervoor willen zorgen dat de openstaande contributie,
€@utils.FormatHelper.formatCurrency(bedrag, "0.00"), 
zo spoedig mogelijk alsnog wordt overgemaakt?
U kunt het bedrag overmaken op de bankrekening van de vereniging, nummer
@bankrekening ten name van @naamVereniging, onder vermelding van "Contributie @jaren"
</p>
<p>
Mocht u dit bericht ten onrechte ontvangen, dan is er iets mis
in mijn administratie. Kunt u me dan laten weten op welke datum u de
contributie(s) hebt betaald?
</p>

<p>
Alvast hartelijk dank voor uw betaling.
</p>

<p>
Met vriendelijke groet,
</p>
<p>
@naamPenningmeester<br>
Penningmeester @naamVereniging
</p>

<h2>Contributie-overzicht</h2>
<table class="zebra-striped">
    <tr>
      <th>Jaar</th>
      <th>Bedrag (euro)</th>
      <th>Betaling op</th>
      <th>Onder vermelding van</th>
    </tr>
    @for(factuur <- lid.contributieFacturen()) {
      <tr>
          <td>@factuur.jaar</td>
          <td>@utils.FormatHelper.formatCurrency(factuur.bedrag, "0.00")</td>
          @if(factuur.isBetaald()){
              <td>@factuur.betaling.datum.format("dd/MM/yyyy")</td>
              <td>@factuur.betaling.mededelingen</td>
          } else {
              <td>&mdash;</td>
              <td>&mdash;</td>
          }
      </tr>
    }
</table>

