@(id: Long, afschrift: Afschrift)

@showInvoice(factuur: Factuur) = {
    <td>@factuur.datum.format("dd/MM/yyyy")</td>
    <td><a href="@routes.Facturen.toon(factuur.id)">@factuur.toString()</a></td>
    <td>@utils.FormatHelper.formatCurrency(factuur.bedrag, "0.00")</td>
    <td>@if(factuur.lid!=null) {
      @factuur.lid.getFirstName()
    } else {
      &mdash;
    }</td>
}

@main("Afschriften") {
    <h1>Bankafschrift</h1>
    @if(!afschrift.isVerantwoord()) {
        @helper.form(action = routes.Afschriften.genereerFactuur(afschrift.id)) {
            <input type="submit" value="Genereer factuur voor afschrift" class="btn success">
        }
    }
    <table> 
    <tr><td>datum</td><td>@afschrift.datum.format("dd/MM/yyyy")</td></tr>
    <tr><td>naam</td> <td>@afschrift.naam</td></tr>
    <tr><td>bedrag</td> <td>@utils.FormatHelper.formatCurrency(afschrift.bedrag, "0.00")</td></tr>
    <tr><td>af/bij</td> <td>@afschrift.afbij</td></tr>
    <tr><td>tegenrekening</td> <td>@afschrift.tegenrekening</td></tr>
    <tr><td>mededelingen</td> <td>@afschrift.mededelingen</td></tr>
    </table>
    @if(!afschrift.betaaldeFacturen.isEmpty()) {
        <h2>Door dit afschrift betaalde facturen</h2>
        <table>
        @for(factuur <- afschrift.betaaldeFacturen) {
            <tr>@showInvoice(factuur)</tr>
        }
        </table>
    }

    <a href="@routes.Afschriften.lijst()" class="btn primary">Lijst afschriften</a>
}
