@(leden: List[Lid], jaren:List[Integer])

@main("Betaalstatus") {
    <h1>Betaalstatus</h1>
    <table class="table table-striped"> 
    <tr>
    <th></th>
    <th>lidnr</th>
    <th>naam</th>
    <th>adres</th>
    @for(jaar <- jaren) {
    	<th>@jaar</th>
    }
    </tr>
	@for(lid <- leden) {
          <tr>
              <td><a class="btn btn-info" href="@routes.Leden.toonHerinnering(lid.id)">Mail</a></td>
			  <td>@lid.id</td>
			  <td><a href="@routes.Leden.bewerkLid(lid.id)">@lid.getFirstName()</a></td>
			  <td>@lid.address</td>
   		      @for(jaar <- jaren) {
			   	<td>
                                   @if(lid.lidInJaar(jaar)) {
                                       @if(lid.contributieBetaald(jaar)) {
                                          @lid.contributieBetaaldOp(jaar).format("dd/MM/yyyy")
                                        } else {
                                          &mdash; 
                                        } 
                                   } 
			   	</td>
			  }
	      </tr>
	} 
    </table>
}
