@(id: Long, myForm: Form[Lid])

@persoonField(field: Field, className: String = "persoon") = {
    @helper.input(field, '_label -> "Naam", '_class -> className) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value"> 
        <a class="removePersoon btn danger">Verwijder</a>
    }
}

@bankrekeningField(field: Field, className: String = "bankrekening") = {
    @helper.input(field, '_label -> "Bankrekening", '_class -> className) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value"> 
        <a class="removeRekening btn danger">Verwijder</a>
    }
}

@main("Bewerk lid") {
    <h1>Bewerk lid</h1>
    @helper.form(action = routes.Leden.saveLid(id), 'id -> "form") {
    <fieldset>
        <legend>Lid @id</legend>
        <div class="personen">
            @helper.repeat(myForm("personen"), min = 1) { persoon =>
                    @persoonField(persoon("name"))
            }
                    
            @* hidden template *@
            @persoonField(
                myForm("personen[x].name"),
                className = "persoon_template"
            )
            
            <div class="clearfix">
                <div class="input">
                    <a class="addPersoon btn success">Naam toevoegen</a>
                </div>
            </div>
        
        </div>
        @helper.inputText(myForm("address"), '_label -> "Adres")
        @helper.inputDate(myForm("lidSinds"), '_label -> "Lid sinds")

        <div class="bankrekeningen">
            @helper.repeat(myForm("bankrekeningen"), min = 1) { bankrekening =>
                    @bankrekeningField(bankrekening("nummer"))
            }
                    
            @* hidden template *@
            @bankrekeningField(
                myForm("bankrekeningen[x].nummer"),
                className = "bankrekening_template"
            )
            
            <div class="clearfix">
                <div class="input">
                    <a class="addRekening btn success">Bankrekening toevoegen</a>
                </div>
            </div>
        
        </div>
@*
        @helper.repeat(myForm("bankrekeningen"), min = 1) { rekeningField =>
                @helper.inputText(rekeningField("nummer"), '_label -> "Bankrekening")
        }
*@
    </fieldset>
    <div class="actions">
        <input type="submit" value="Opslaan" class="btn primary"> of 
        <a href="@routes.Leden.lijst()" class="btn">Annuleren</a> 
    </div>

   <script type="text/javascript" charset="utf-8">
        
        $(document).on('click','.removePersoon', function(e) {
            var personen = $(this).parents('.personen')
            $(this).parents('.persoon').remove()
            renumber(personen)
        });

        $(document).on('click','.removeRekening', function(e) {
            var bankrekeningen = $(this).parents('.bankrekeningen')
            $(this).parents('.bankrekening').remove()
            renumber(bankrekeningen)
        });

        $(document).on('click', '.addPersoon', function(e) {
            var personen = $(this).parents('.personen')
            var template = $('.persoon_template', personen)
            template.before('<div class="clearfix persoon">' + template.html() + '</div>')
            renumber(personen)
        });

        $(document).on('click', '.addRekening', function(e) {
            var bankrekeningen = $(this).parents('.bankrekeningen')
            alert('bankrekeningen div: ' + bankrekeningen);
            var template = $('.bankrekening_template', bankrekeningen)
            alert('bankrekeningen template: ' + template);
            alert('bankrekeningen template.html(): ' + template.html());
            template.before('<div class="clearfix bankrekening">' + template.html() + '</div>')
            renumber(bankrekeningen)
        });



        $('#form').submit(function() {
            $('.persoon_template').remove()
            $('.bankrekening_template').remove()
        });


        // Rename fields to have a coherent payload like:
        //
        // informations[0].label
        // informations[0].email
        // informations[0].phones[0]
        // informations[0].phones[1]
        // ...
        //
        // This is probably not the easiest way to do it. A jQuery plugin would help.
        
        var renumber = function(personen) {
            $('.persoon input').each(function(i) {
                $(this).attr('name', $(this).attr('name').replace(/personen\[.+\]/g, 'personen[' + i + ']'))
            })
            $('.bankrekening input').each(function(i) {
                alert("Bankrekening "+i);
                alert("attr name: " + $(this).attr('name'));
                $(this).attr('name', $(this).attr('name').replace(/bankrekeningen\[.+\]/g, 'bankrekeningen[' + i + ']'))
            })
        }

    </script>

    }
}
