@(id: Long, myForm: Form[Lid])

@main("Bewerk lid") {
    <h1>Bewerk lid</h1>

    @myForm
<br>
    @myForm.value()
<br>
    @myForm.field("personen").value()
<br>
    @myForm.field("rekeningnummers").value()
<br>

    @helper.form(action = routes.Leden.saveLid(id)) {
    <fieldset>
    <legend>Lid @id</legend>
    @helper.repeat(myForm("personen"), min = 2) { persoonField =>
            @helper.inputText(persoonField("name"), '_label -> "Naam" )
    }
    @helper.inputText(myForm("address"), '_label -> "Adres")
    @helper.inputDate(myForm("lidSinds"), '_label -> "Lid sinds")

    @helper.repeat(myForm("rekeningnummers"), min = 1) { rekeningField =>
            @helper.inputText(rekeningField("rekeningnummer"))
    }
    </fieldset>
    <input type="submit" value="Opslaan">
    }
}
