@(facturen: List[Factuur])

@main("Lijst facturen") {
    <h1>Facturen</h1>
    Aantal facturen in database: @facturen.size()
    <table> 
    <tr>
    <th>jaar</th>
    <th>datum</th>
    <th>betaald</th>
    <th>lid</th>
    <th>bedrag</th>
    <th>mogelijke betalingen</th>
    </tr>
	@for(factuur <- facturen) {
          <tr>
			  <td>@factuur</td>
			  <td>@factuur.datum.format("dd/MM/yyyy")</td>
			  <td><a href="@routes.Facturen.toon(factuur.id)">@if(factuur.isBetaald()){
                            Ja
                          } else {
                            Nee
                          }</a></td>
			  <td>@factuur.lid.getFirstName()</td>
			  <td>@utils.FormatHelper.formatCurrency(factuur.bedrag, "0.00")</td>
                          <td>
                          @for(afschrift <- factuur.possiblePayments() ) {
                            @if(factuur.betaling==afschrift) {
			      <b>@afschrift.datum.format("dd/MM/yyyy")</b>
                            } else {
			      @afschrift.datum.format("dd/MM/yyyy")
                            }
                          }
                          </td>
	      </tr>
	} 
    </table>
    
}
