@(id: Long, factuur: Factuur)

@showAfschrift(afschrift: Afschrift) = {
    <td>@afschrift.datum.format("dd/MM/yyyy")</td>
    <td>@afschrift.naam</td>
    <td>@utils.FormatHelper.formatCurrency(afschrift.bedrag, "0.00")</td>
    <td>@afschrift.afbij</td>
    <td>@afschrift.tegenrekening</td>
    <td>@afschrift.mededelingen</td>
}

@main("Factuur") {
    <h1>Factuur @factuur</h1>

    <a href="@routes.Facturen.bewerkFactuur(id)" class="btn btn-danger">Bewerk deze factuur</a>

    @helper.form(action = routes.Facturen.saveFactuur(id), 'id -> "form") {
        <table class="table"> 
        <tr><td>omschrijving</td><td>@factuur</td></tr>
        <tr><td>datum</td><td>@factuur.datum.format("dd/MM/yyyy")</td></tr>
        <tr><td>lid</td><td>
           @if(factuur.lid==null){
             @factuur.betrokkene()
           } else {
             <a href="@routes.Leden.bewerkLid(factuur.lid.id)">@factuur.betrokkene()</a>
           }</td></tr>
        <tr><td>bedrag</td> <td>@utils.FormatHelper.formatCurrency(factuur.bedrag, "0.00")</td></tr>
        <tr><td>betaald</td>
                              <td>@if(factuur.isBetaald()){
                                Ja
                              } else {
                                Nee
                              }</td></tr>
        </table>
    }
    <h2>Mogelijke betalingen:</h2>
    <table class="table table-striped">
      @for( afschrift <- factuur.possiblePayments() ) {
        <tr>
            <td>
              @if(factuur.betaling != null && afschrift.id == factuur.betaling.id) {
                @helper.form(action = routes.Facturen.wisBetaling(factuur.id)) {
                    <input type="submit" value="Wis" class="btn btn-danger">
                }
              } else {
                @if(!afschrift.isVerantwoord()) {
                  @helper.form(action = routes.Facturen.markeerBetaling(factuur.id,afschrift.id)) {
                      <input type="submit" value="Selecteer" class="btn btn-success">
                  }
                }
              }
            </td>
            @showAfschrift(afschrift)
            <td>
              @for(factuur <- afschrift.betaaldeFacturen) {
                @factuur <br>
              }
             </td>
        </tr>
      }
    </table>

    <a href="@routes.Facturen.lijst()" class="btn btn-primary">Lijst facturen</a>
}
