@(message: String)

@main("Ledenadministratie") {
    
<ul> 
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.betaalStatus">Betaalstatus</a></li>
<li><a href="@routes.Afschriften.lijst">Lijst afschriften</a></li>
<li><a href="@routes.Facturen.lijst">Lijst facturen t.b.v. contributie</a></li>
</ul>
}
