@(message: String)

@main("Ledenadministratie") {
    
<ul> 
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
<li><a href="@routes.Leden.betaalStatus">Betaalstatus</a></li>
<li><a href="@routes.Afschriften.lijst()">Lijst afschriften</a></li>
<li><a href="@routes.Afschriften.csvimport()">Importeer CSV bankafschrift</a></li>
<li><a href="@routes.Afschriften.csvBetalingenImport()">Importeer lijst betalingen</a></li>
<li><a href="@routes.Facturen.lijst()">Lijst facturen t.b.v. contributie</a></li>
</ul>

<h2>Beheer</h2>
<ul>
<li><a href="@routes.Leden.csvimport">Importeer ledenlijst</a></li>
<li><a href="@routes.Afschriften.csvimport()">Importeer CSV bankafschrift</a></li>
<li><a href="@routes.Afschriften.csvBetalingenImport()">Importeer lijst betalingen</a></li>
<li><a href="@routes.Facturen.newInvoicesForm()">Genereer nieuwe contributiefacturen</a></li>
</ul>
}
