@(verenigingsNaam:String)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Ledenadministratie") {

<h1>Ledenadministratie</h1>
<p>
Dit is de website van de vereniging "@verenigingsNaam".
</p>

<p>
Voor leden is alleen de ledenlijst beschikbaar. Voor het bestuur en de
penningmeester zijn er meerdere mogelijkheden.
</p>

<p>
Ga naar de <a href="@routes.Leden.lijst">Ledenlijst</a>.
</p>

@restrict(la(as("bestuur"))){
    <h2>Algemeen</h2>
    <ul> 
    <li><a href="@routes.Leden.lijst">Ledenlijst</a></li>
    <li><a href="@routes.Leden.betaalStatus">Betaalstatus</a></li>
    <li><a href="@routes.Afschriften.lijst()">Lijst afschriften</a></li>
    <li><a href="@routes.Afschriften.csvimport()">Importeer CSV bankafschrift</a></li>
    <li><a href="@routes.Afschriften.csvBetalingenImport()">Importeer lijst betalingen</a></li>
    <li><a href="@routes.Facturen.lijst()">Lijst facturen t.b.v. contributie</a></li>
    </ul>
}
@restrict(la(as("admin"))){
    <h2>Beheer</h2>
    <ul>
    <li><a href="@routes.Leden.csvimport">Importeer ledenlijst</a></li>
    <li><a href="@routes.Afschriften.csvimport()">Importeer CSV bankafschrift</a></li>
    <li><a href="@routes.Afschriften.csvBetalingenImport()">Importeer lijst betalingen</a></li>
    <li><a href="@routes.Facturen.newInvoicesForm()">Genereer nieuwe contributiefacturen</a></li>
    </ul>
}
}
