@(leden: List[Lid])

@persoontooltip(p:Persoon) = {
    @if(p.email==null || p.email.isEmpty) {
      Geen emailadres bekend
    } else {
      @p.email 
      @defining(p.emailLastVerified) {last => 
         @if(last==null) {
            (Nooit geverifieerd)
         } else { 
            (Laatst geverifieerd: @last.format("dd/MM/yyyy"))
         }
      }
    }
}
@main("Ledenlijst") {
    <h1>Ledenlijst</h1>
    <table class="table table-striped"> 
    <tr>
    <th>lidnr</th>
    <th>namen</th>
    <th>adres</th>
    <th>lid sinds</th>
    <th>lid tot</th>
    <th>bankrekeningen</th>
    </tr>
	@for(lid <- leden) {
          <tr>
			  <td><a href="@routes.Leden.bewerkLid(lid.id)">@lid.id</a></td>
			  <td>
                          @for((p,i) <- lid.personen.zipWithIndex) {
			      <span title="@persoontooltip(p)">@p.name</span>
                              @if(i != lid.personen.size-1) { &mdash; }
                          }</td>
			  <td>@lid.address</td>
			  <td>@if(lid.lidSinds!=null) {
			  		@lid.lidSinds.format("dd/MM/yyyy")
			  	  } else { &mdash; } </td>
			  <td>@if(lid.lidTot!=null) {
			  		@lid.lidTot.format("dd/MM/yyyy")
			  	  } else { &mdash; } </td>
                          <td>@for( rek <- lid.bankrekeningen ) {
                            @rek.nummer
                          }</td>
	      </tr>
	} 
    </table>
    
    <a class="btn btn-success" id="import"
    href="@routes.Leden.csvimport()">Importeer een CSV-ledenlijst</a>

    <a class="btn btn-success" id="nieuw"
    href="@routes.Leden.nieuwLid()">Nieuw lid</a>

    <script>
        $(function() {
            $( document ).tooltip();
        });
     </script>
}
