@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ui-lightness/jquery-ui-1.10.3.custom.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>A
        <script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>A
    </head>
    <body>
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">Ledenadministratie</a>
                &mdash;
                <a href="@routes.Leden.lijst()">Ledenlijst</a>
                &mdash;
                <a href="@routes.Leden.betaalStatus">Betaalstatus</a>
                &mdash;
                <a href="@routes.Afschriften.lijst()">Afschriften</a>
                &mdash;
                <a href="@routes.Facturen.lijst()">Facturen</a>
            </h1>
        </header>

        <section id="main">
          @content
        </section>
    </body>
</html>
